table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #daf7a6;
  cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #06efeb;
}

tr.inner-row:hover {
  background: #0e79ae;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.inner-table {
  width: 100%;
  background: #accdea;
}
.inner-table table {
  background: aliceblue;
}

.inner-table mat-form-field {
  margin-top: 15px;
  width: 100%;
}
tr.mat-footer-row {
  font-weight: bold;
  background-color: #0d506a;
}
td.mat-footer-cell {
  color: aliceblue;
}
.example-button-row {
  display: table-cell;
  max-width: 400px;
  text-align: center !important;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.mat-raised-button {
  background-color: #f0b609;
}
