<mat-tab-group>
  <mat-tab label="Tab 1">
    <table
      mat-table
      #outerSort="matSort"
      [dataSource]="dataSource"
      multiTemplateDataRows
      class="mat-elevation-z8"
      matSort
    >
      <!-- Columnas principales -->
      <ng-container
        matColumnDef="{{ column }}"
        *ngFor="let column of columnsToDisplay"
      >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column | uppercase }}
        </th>
        <td mat-cell *matCellDef="let element" (click)="toggleRow(element)">
          {{ column === "mois" ? element[0] : getTotalType(element[1]) }}
        </td>

        <td mat-footer-cell *matFooterCellDef>
          {{ column === "mois" ? "Total" : getTotalCost() }}
        </td>
      </ng-container>

      <!-- Encabezado principal -->
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>

      <!-- Filas principales -->
      <tr
        id="GGGGGGGG"
        mat-row
        *matRowDef="let element; columns: columnsToDisplay"
        [class.example-element-row]="element[1]?.length"
        [class.example-expanded-row]="expandedElement === element"
      ></tr>

      <ng-container matColumnDef="detail-inner-row">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="innerSecondDisplayedColumns.length"
        ></td>
      </ng-container>
      <!-- Filas secundarias -->
      <ng-container matColumnDef="detail-row">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="columnsToDisplay.length"
        >
          <div
            class="example-element-detail"
            [@detailExpand]="
              expandedElement === element ? 'expanded' : 'collapsed'
            "
          >
            <table class="inner-table">
              <thead>
                <tr mat-header-cell id="HHHHHHH">
                  <th
                    mat-header-cell
                    *ngFor="let column of innerDisplayedColumns"
                    [style.font-size]="'15px'"
                    style="color: black"
                  >
                    {{ column | uppercase }}
                  </th>
                </tr>
              </thead>
              <tbody *ngFor="let subElement of element[1]; let i = index">
                <tr (click)="toggleInnerRow(subElement)" class="inner-row">
                  <td mat-cell>{{ subElement.id }}</td>
                  <td mat-cell>{{ subElement.prix }}</td>
                </tr>
                <td mat-cell [attr.colspan]="columnsToDisplay.length">
                  <div
                    class="example-element-detail"
                    [@detailExpand]="
                      expandedInnerElement === subElement
                        ? 'expanded'
                        : 'collapsed'
                    "
                  >
                    <!-- Filas terciarias -->
                    <table class="inner-table">
                      <thead mat-header-cell>
                        <tr>
                          <th
                            *ngFor="let column of innerSecondDisplayedColumns"
                          >
                            {{ column | uppercase }}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let subElement of element[1][i].listMonth">
                          <td mat-cell>{{ subElement.datePaiement }}</td>
                          <td mat-cell>{{ subElement.description }}</td>
                          <td mat-cell>{{ subElement.prix }}</td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- </td> -->
                  </div>
                </td>
              </tbody>
            </table>
          </div>
        </td>
      </ng-container>

      <!-- Pie de página principal -->
      <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
      <tr
        id="YYYYYYYYY"
        class="example-detail-row"
        mat-row
        *matRowDef="let footerRowData; columns: ['detail-row']"
      ></tr>
    </table>
  </mat-tab>
  <mat-tab label="Tab 2">
    <div fxLayout="row" fxLayoutAlign="end center">
      <div class="example-button-row" fxLayoutGap="20px">
        <button mat-raised-button (click)="addRow()">
          <mat-icon>add</mat-icon><span>Ajouter Charge</span>
        </button>
        <input
          #fileInput
          type="file"
          (change)="onFileSelected($event)"
          accept=".csv"
          style="display: none"
        />
        <button
          mat-raised-button
          fxLayoutGap="10px"
          (click)="fileInput.click()"
        >
          <mat-icon>folder</mat-icon><span>Import Csv</span>
        </button>
        <button mat-raised-button (click)="addType()">
          <mat-icon>star</mat-icon><span>Ajouter type</span>
        </button>

        <button
          [disabled]="!csvData"
          mat-raised-button
          (click)="saveDataToBackend()"
          matTooltip="Save charges"
        >
          <mat-icon>save</mat-icon><span>Save Charges</span>
        </button>
      </div>
    </div>

    <div *ngIf="csvData">
      <table mat-table [dataSource]="csvData" matSort class="mat-elevation-z8">
        <ng-container
          *ngFor="let fieldHeader of displayedImportColumns; let i = index"
          matColumnDef="{{ fieldHeader }}"
        >
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ fieldHeader | uppercase }}
          </th>
          <ng-container *matCellDef="let element">
            <ng-container *ngIf="fieldHeader != 'ActionClient'">
              <td
                class="cursor"
                mat-cell
                [ngClass]="{
                  failed: element?.type == 0
                }"
              >
                <div
                  fxLayout="row"
                  *ngIf="element !== elementBeingEdited; else editField"
                >
                  <div fxFlex="90">{{ element[fieldHeader] }}</div>
                </div>
                <ng-template #editField>
                  <ng-container *ngIf="fieldHeader !== 'type'">
                    {{ element[fieldHeader] }}
                  </ng-container>
                  <!-- Campo de entrada para editar el type -->
                  <input
                    *ngIf="fieldHeader === 'type'"
                    [(ngModel)]="elementBeingEdited.type"
                    (blur)="saveEditedRecord()"
                    (keyup.enter)="saveEditedRecord()"
                  />
                </ng-template>
              </td>
            </ng-container>
            <ng-container *ngIf="fieldHeader == 'ActionClient'">
              <td
                mat-cell
                [ngClass]="{
                  failed: element?.type == 0
                }"
              >
                <div fxLayout="row" fxLayoutAlign="start center">
                  <button
                    mat-icon-button
                    (click)="editRecord(element, i)"
                    matTooltip="Modifier type"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>
          </ng-container>
        </ng-container>

        <!-- Definición de las filas y columnas -->
        <tr mat-header-row *matHeaderRowDef="displayedImportColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedImportColumns"></tr>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>
