<p>costs-table works!</p>

<table
  mat-table
  #outerSort="matSort"
  [dataSource]="dataSource"
  multiTemplateDataRows
  class="mat-elevation-z8"
  matSort
>
  <!-- Columnas principales -->
  <ng-container
    matColumnDef="{{ column }}"
    *ngFor="let column of columnsToDisplay"
  >
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ column | uppercase }}
    </th>
    <td mat-cell *matCellDef="let element" (click)="toggleRow(element)">
      {{ column === "mois" ? element[0] : getTotalType(element[1]) }}
    </td>

    <td *matFooterCellDef>
      {{ column === "mois" ? "Total" : getTotalCost() }}
    </td>
  </ng-container>

  <!-- Encabezado principal -->
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>

  <!-- Filas principales -->
  <tr
    id="GGGGGGGG"
    mat-row
    *matRowDef="let element; columns: columnsToDisplay"
    [class.example-element-row]="element[1]?.length"
    [class.example-expanded-row]="expandedElement === element"
  ></tr>

  <ng-container matColumnDef="detail-inner-row">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="innerSecondDisplayedColumns.length"
    ></td>
  </ng-container>
  <!-- Filas secundarias -->
  <ng-container matColumnDef="detail-row">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="columnsToDisplay.length"
    >
      <div
        class="example-element-detail"
        [@detailExpand]="expandedElement === element ? 'expanded' : 'collapsed'"
      >
        <table class="inner-table">
          <thead>
            <tr id="HHHHHHH">
              <th *ngFor="let column of innerDisplayedColumns">
                {{ column | uppercase }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let subElement of element[1]; let i = index"
              (click)="toggleInnerRow(subElement)"
              class="inner-row"
            >
              <td>{{ subElement.id }}</td>
              <td>{{ subElement.prix }}</td>
              <div
                class="example-element-detail"
                [@detailExpand]="
                  expandedInnerElement === subElement ? 'expanded' : 'collapsed'
                "
              >
                <!-- Filas terciarias -->
                <table class="inner-table">
                  <thead>
                    <tr>
                      <th>Date de paiement</th>
                      <th>Description</th>
                      <th>Prix</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let subElement of element[1][i].listMonth">
                      <td>{{ subElement.datePaiement }}</td>
                      <td>{{ subElement.description }}</td>
                      <td>{{ subElement.prix }}</td>
                    </tr>
                  </tbody>
                </table>
                <!-- </td> -->
              </div>
            </tr>
          </tbody>
        </table>
      </div>
    </td>
  </ng-container>

  <!-- Pie de página principal -->
  <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
  <tr
    id="YYYYYYYYY"
    class="example-detail-row"
    mat-row
    *matRowDef="let footerRowData; columns: ['detail-row']"
  ></tr>
</table>
