<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Profile 1</h2>
      <h4>Role</h4>
    </div>
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
  </div>
  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard"
    >Dashboard</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts"
    >Posts</a
  >

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
</mat-nav-list>
<!-- <div>Profie</div>
<mat-divider></mat-divider>
<div>
  Menu<br />
  <div>Chart1</div>
  <div>Chart2</div>
  <div>Chart3</div>
  <div>Chart3</div>
</div>

<mat-divider></mat-divider>
<div>
  <div>Other Menu</div>
</div> -->
