table {
  width: 100%;
}

.mat-row:nth-child(even) {
  background-color: #e4f0ec;
}

.mat-row:nth-child(odd) {
  background-color: #ffffff;
}
tr.mat-footer-row {
  font-weight: bold;
  background-color: #6200ee;
}
